@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.2s ease 0s;
}

button {
    outline: none;
}

.navli,
.nava {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 3vw;
    color: #0e1111;
    text-decoration: none;
    display: flex;
    top: 50%;
    transition: 0.2s ease 0s;
}

.theme {
    padding: .5vw .5vw;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    width: 5vw;
    font-size: 1.1vw;
    vertical-align: center;
    height: 100%;
    color: #fffff2;
    text-decoration: none;
    background-color: #0e1111;
    border: solid;
    border-color: #0e1111;
    border-width: 0.2vw;
    border-radius: 1.7vw;
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

.theme:hover {
    background-color: #fffff2;
    color: #0e1111;
}

.logo {
    width: 4.5vw;
    z-index: 101;
    display: block;
    transition: 0.2s ease 0s;
}

#cart {
    color: #0e1111;
    margin-right: 0.3vw;
    font-size: 2.5vw;
    width: auto;
}

.sidebtn {
    width: 6vw;
    margin-left: auto;
    display: flex;
    justify-content: center;
    height: 3vw;
    vertical-align: middle;
}

.navul {
    list-style: none;
    margin-left: 2vw;
}

.navli {
    display: inline-block;
    padding: 0vw 1vw;
}

.navul .navli a:hover {
    font-weight: 700;
    transition: 0.2s ease 0s;
}


/*HEADER FÖR DATOR*/

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 6%;
    background: url(../pics/noiselight.png) top center repeat;
    background-size: cover;
    border-bottom: 3px;
    border-bottom-color: #0e1111;
    border-bottom-style: solid;
    position: sticky;
    top: 0;
    z-index: 100;
    width: auto;
    height: 4vw;
    transition: 0.2s;
}


/*HEADER FÖR MOBIL*/

header {
    display: none;
    height: 10vw;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    background: url(../pics/noiselight.png) top center repeat;
    background-size: cover;
    border-bottom: 3px;
    border-bottom-color: #0e1111;
    border-bottom-style: solid;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navulmob {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 0;
}

.navlimob {
    float: left;
    padding: 5px;
}

.logomob {
    width: 11vw;
    cursor: pointer;
    margin-right: 0;
}

.navmob {
    margin-right: auto;
    width: 30%
}

#burger div {
    width: 25px;
    height: 3px;
    background-color: #0e1111;
    margin: 5px;
    transition: all 0.2s ease;
}

#burger {
    cursor: pointer;
}

.sidebtnmob {
    display: flex;
    justify-content: center;
}

#cartmob {
    display: block;
    align-items: center;
    margin-right: 10px;
}

#cartimob {
    color: #0e1111;
    font-size: 35px;
    margin-top: 5px;
}


/*NAV SIDA*/

#navside {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 68%, rgba(230, 230, 230, 1) 100%);
    left: -100%;
    transition: .4s;
    z-index: 100;
    display: block;
}

#navside.active {
    left: 0%;
    z-index: 100;
    position: fixed;
}

.navsideul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    justify-content: center;
    height: auto;
}

li.navsideli {
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #0e1111;
}

.navsidea {
    font-family: 'Bebas Neue', cursive;
    font-weight: 500;
    font-size: 12vw;
    color: #0e1111;
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

.show {
    transform: translate3d(0vw, 0, 0);
}

.toggle #line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*sizeadjust*/

@media(max-width:529px) {
    main {
        width: 100vw;
    }
    .navli .nava {
        display: none;
    }
    .logo {
        display: none;
    }
    .sidebtn {
        display: none;
    }
    .logomob {
        display: block;
    }
    .header {
        display: none;
    }
    header {
        display: flex;
    }
    #navside {
        opacity: 100;
    }
    .beltimg {
        width: 80vw;
    }
}

@media(min-width:530px) {
    main {
        width: 100%;
    }
    #navside {
        opacity: 0;
    }
}

@media(min-width:900px) {
    main {
        width: 100%;
    }
    #navside {
        opacity: 0;
    }
}


/* dark mode */

.dark {
    background-color: #0e1111;
}

.darks {
    background-color: black;
    border-top-color: #fffff2;
}

.darknav {
    background: url(../pics/noisedark.png) top center repeat;
    border-color: #fffff2;
}

.darktext {
    color: #fffff2;
}

.darktextmob {
    color: #fffff2;
}

.darkbutton {
    background-color: #fffff2;
    color: #0e1111;
    border-color: #0e1111;
}

.darkbuttonmob {
    background-color: #fffff2;
    color: #0e1111;
    border-color: #0e1111;
}

.darkbutton:hover {
    background-color: #0e1111;
    color: #fffff2;
    border-color: #fffff2;
}

.lighttext {
    color: #333b3b;
}


/* footer */

footer {
    bottom: 0;
    height: 40px;
    background: url(../pics/noiselight.png) top center repeat;
    width: 100%;
    border-top: 3px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: #0e1111;
    transition: all 0.2s ease;
    float: left;
    position: fixed;
    z-index: 99;
}

.footul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 13px;
}

.footli {
    float: left;
    height: 100%;
}

.foota {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-weight: lighter;
}